body {
	color: #97b15e;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	margin: 0px;
	padding: 0px;
	background-color:#051c00;
}
.clear{clear:both;}
* {margin: 0px;padding: 0px;}
#container {
	margin: 10px 10px 10px 10px;
	text-align: center;
	
}
a{color:#80ba04;}
a:hover{color:#b7fb24;}
/********************** Header ***************************/
#header {
	height:300px;
	position:relative;
}
/********************** Navigation **********************/
#navigation ul{
	position:relative;
	top:0px;
	left:0px;
	float:center;
	margin:0 auto;
	width:600px;
}
#navigation li{
	display:block;
	float:left;
	width:100px;
}
#navigation ul a{
	color:#aefa0d;
	text-decoration:none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 900;
}
#navigation ul a:hover{color:#97b15e;}

/********************** main ***************************/
#main {
	
}

#main h1{ color: #aefa0d;}

#main h3{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: normal;
	text-transform: none;
	color: #7eae19;}

#main h4{ color: #ff00ff;
}

#main p{}

#main a{}
/********************** Footer ***************************/
#footer {
	padding: 10px 10px 10px 10px;
	text-align: center;
}
